<section class="comments">
	<div class="comments__respond">
		<h3>Comments</h3>
		{{ comment_form }}
	</div>
	<div class="comment">
		{% for comment in post.get_comments() %}
			<div class="comment__response {{comment.comment_type}}" id="comment-{{comment.ID}}">
				<h5 class="comment__author">{{comment.author.name}} says</h5>
				<div class="comment__content">
					{{comment.comment_content|wpautop}}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
